[gcode_macro TOGGLE_PRINTER]
gcode:
 Set_PIN PIN=Main_Power VALUE={(not printer['output_pin Main_Power'].value)|int}

[gcode_macro _POWER_OFF_MAIN]
gcode:
 Set_PIN PIN=Main_Power VALUE=0

[idle_timeout]
gcode:
#   A list of G-Code commands to execute on an idle timeout. See
#   docs/Command_Templates.md for G-Code format. The default is to run
#   "TURN_OFF_HEATERS" and "M84".
 {% if printer.pause_resume.is_paused %}
 M104 S0 #Set Hot-end to 0C (off)
 RESPOND TYPE=error MSG="Print is paused - Idle timeout disabled" 
# {% elif printer.extruder.temperature > 140 %} # temperatura do hotend é superior a 180 nao desligar que esta a pre aquecer
# RESPOND TYPE=error MSG="Extruder is on" 
 {% elif printer.heater_bed.temperature > 35 %} # temperatura do Bed é superior a 35 nao desligar que esta a pre aquecer
 RESPOND TYPE=error MSG="Bed is ON" 
 {% else %}
 TURN_OFF_HEATERS
 M84  #Steppers off
 G4 P6000  # Waits for the bedtemp to stabilize 
 RESPOND TYPE=error MSG="Main power is turned OFF"
 _POWER_OFF_MAIN
 {% endif %}
timeout: 600
#   Idle time (in seconds) to wait before running the above G-Code
#   commands. The default is 600 seconds.

[gcode_macro FILAMENT_CUTTER]
gcode:
   SAVE_GCODE_STATE NAME=filament_cutter_state
   {% if "xyz" not in printer.toolhead.homed_axes %}
   G28
   {% endif %}
   M118 Start Wiping macro
   {% if printer.toolhead.position.z|int < 25 %}  
         G90           
         G0 Z25 F600     
   {% endif %}
   M118 Deploy Servo
   SET_SERVO SERVO=servo_cutter ANGLE=110
   
   G90
   G1 X400 Y20 F10000
   M118 Start Cutting
   G1 y10 F5000
   G1 y5 F500
   G1 y2 F100
   G1 y20 F10000
   G1 y10 F5000
   G1 y5 F500
   G1 y2 F100
   M118 Cutting Done
   G90
   G1 X200 Y200 F12000
   M118 Retract Cutting
   SET_SERVO SERVO=servo_cutter ANGLE=2
   M118 Cutting finished
   G92 E0
   RESTORE_GCODE_STATE NAME=filament_cutter_state

[gcode_macro SERVO_TEST_110]
gcode:
   M118 Deploy Servo
   SET_SERVO SERVO=servo_cutter ANGLE=110

[gcode_macro SERVO_TEST_0]
gcode:
   M118 Deploy Servo
   SET_SERVO SERVO=servo_cutter ANGLE=2